body {
  margin: 0;
  padding: 0;
}

header {
  width: 100%;
  height: 100%;
  background-color: white;
}
header .navbar {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
header .navbar .logo {
  display: flex;
  font-size: 25px;
  color: #813A1A;
  flex-direction: column;
  position: relative;
  align-items: center;
  font-weight: 700;
}
header .navbar .logo .pic {
  display: flex;
  font-size: 25px;
  color: #813A1A;
  flex-direction: row;
  margin-bottom: -20px;
}
header .navbar .logo .pic img {
  height: 30px;
}
header .navbar .logo .pic .coffee {
  margin-top: -100px;
}
header .navbar .nav-links {
  display: flex;
  color: #3E2012;
  font-size: 20px;
}
header .navbar .nav-links ul {
  display: flex;
  color: #3E2012;
  text-decoration: none;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  gap: 25px;
  margin-top: -40px;
}
header .navbar .nav-links ul li {
  display: flex;
  color: #3E2012;
  font-size: 25px;
  text-decoration: none;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}
header .navbar .icons {
  color: #813A1A;
  display: flex;
  gap: 10px;
  margin-top: -50px;
}
header .navbar .icons img {
  height: 28px;
}
header .hero {
  display: flex;
  color: #3E2012;
  font-size: 14px;
  text-decoration: none;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  width: 100%;
}
header .hero .imgoverlay {
  position: relative;
  text-align: center;
}
header .hero .imgoverlay h1 {
  font-size: 250px;
  padding-top: 100px;
  color: #EDC588;
  z-index: 1;
}
header .hero .imgoverlay .overlay {
  position: absolute;
  z-index: 2;
}
header .hero .imgoverlay img {
  height: 400px;
}
header .hero .imgoverlay .img1 {
  top: 20px;
  left: 100px;
}
header .hero .imgoverlay .img2 {
  top: 20px;
  right: 150px;
  height: 500px;
}
header .hero .text {
  display: flex;
  right: 500px;
  position: relative;
  color: #3F2318;
  flex-direction: column;
  gap: 35px;
  top: -69px;
}
header .hero .text .text1 p {
  font-size: 32px;
  line-height: 33px;
  font-weight: 700;
}
header .hero .text .text1 button {
  background-color: #813A1A;
  color: white;
  border-radius: 5px;
  font-size: 24px;
  padding: 5px;
  padding-left: 20px;
  padding-right: 20px;
}
header .hero .text .text2 h1 {
  font-size: 41px;
}
header .hero .text .text2 p {
  font-size: 24px;
}
header .hero .text .text2 button {
  background-color: #813A1A;
  color: white;
  border-radius: 5px;
  font-size: 24px;
  padding: 5px;
  padding-left: 20px;
  padding-right: 20px;
}
header .hero .form {
  display: flex;
  left: 290px;
  padding: 5px;
  position: relative;
  color: #3F2318;
  background-image: url(img/coffeebean.png);
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: center;
     object-position: center;
  flex-direction: column;
  background-color: #813A1A;
  gap: 25px;
  top: -500px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 400px;
  width: 500px;
  align-items: center;
  font-size: 15px;
  border-radius: 7px;
}
header .hero .form .row {
  display: flex;
  gap: 20px;
  align-items: center;
  align-content: center;
  flex-direction: column;
}
header .hero .form .row .first-row {
  display: flex;
  align-items: center;
  gap: 30px;
}
header .hero .form .row .first-row input {
  color: black;
  padding: 10px;
  font-weight: 700;
}
header .hero .form .row .sec-row {
  display: flex;
  align-items: center;
  gap: 30px;
}
header .hero .form .row .sec-row input {
  color: black;
  padding: 10px;
  font-weight: 700;
}
header .hero .form h4 {
  font-size: 30px;
  color: white;
  padding-right: 270px;
}
header .hero .form h3 {
  font-size: 40px;
  color: white;
  padding-right: 10px;
}
header .hero .form .buttons .sign {
  color: #813A1A;
  background-color: #EDC588;
  border-radius: 5px;
  padding: 7px;
  padding-left: 35px;
  padding-right: 35px;
  font-size: 20px;
  font-weight: 700;
}
header .hero .form .buttons .login {
  color: white;
  background-color: transparent;
  border-radius: 5px;
  padding: 7px;
  padding-left: 35px;
  padding-right: 35px;
  font-size: 20px;
  font-weight: 700;
  border-color: #EDC588;
  border: 10%;
}

.discover .taste .real {
  display: flex;
  flex-direction: column;
}
.discover .taste .real p {
  position: relative;
  top: 50px;
}
.discover .taste .real img {
  height: 700px;
}/*# sourceMappingURL=syntax.css.map */