body {
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  padding: 0 50px;
  justify-content: space-between;
  align-items: center;

  .logo {
    display: flex;
    font-size: 25px;
    color: #813a1a;
    flex-direction: column;
    position: relative;
    align-items: center;
    font-weight: 700;

    .pic {
      display: flex;
      font-size: 25px;
      color: #813a1a;
      flex-direction: row;
      margin-bottom: -20px;

      img {
        height: 30px;
      }

      .coffee {
        margin-top: -100px;
      }
    }
  }

  nav {
    display: flex;
    justify-content: space-between;
    width: 100%;

    a {
      display: flex;
      color: #3e2012;
      text-decoration: none;
      font-size: 20px;
      font-weight: 400;
      padding: 0 10px;
      transition: 0.8s;
      gap: 45px;
      margin-top: -40px;
      li {
        display: flex;
        color: #3e2012;
        font-size: 20px;
        text-decoration: none;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
      }
    }

    a:hover {
      color: rgb(227, 189, 142);
    }
  }

  .icons {
    color: #813a1a;
    display: flex;
    gap: 45px;
    margin-top: -40px;

    img {
      height: 28px;
    }
  }
}

.hero {
  display: flex;
  color: #3e2012;
  font-size: 14px;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  gap: 20px;
  height: 1000px;
  width: 100%;

  .imgoverlay {
    position: relative;
    text-align: center;

    h1 {
      font-size: 300px;
      padding-top: 100px;
      color: #edc588;
      z-index: 1;
    }

    .overlay {
      position: absolute;
      z-index: 2;
    }

    img {
      height: 550px;
    }

    .img1 {
      top: 20px;
      left: 100px;
    }

    .img2 {
      top: 20px;
      right: 150px;
      height: 560px;
    }
  }

  .text {
    display: flex;
    right: 490px;
    position: relative;
    color: #3f2318;
    flex-direction: column;
    gap: 65px;
    top: -69px;

    .text1 {
      p {
        font-size: 29px;
        line-height: 33px;
        font-weight: 700;
      }

      button {
        background-color: #813a1a;
        color: white;
        border-radius: 5px;
        font-size: 24px;
        padding: 5px;
        padding-left: 20px;
        padding-right: 20px;
      }
    }

    .text2 {
      padding-top: 40px;
      h1 {
        font-size: 30px;
      }
      p {
        font-size: 20px;
      }

      button {
        background-color: #813a1a;
        color: white;
        border-radius: 5px;
        font-size: 24px;
        padding: 5px;
        padding-left: 20px;
        padding-right: 20px;
      }
    }
  }

  .form {
    display: flex;
    left: 360px;
    padding: 5px;
    position: relative;
    color: #3f2318;
    background-image: url(img/coffeebean.png);
    object-fit: contain;
    object-position: center;
    flex-direction: column;
    background-color: #813a1a;
    gap: 25px;
    top: -540px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 400px;
    width: 500px;
    align-items: center;
    font-size: 15px;
    border-radius: 7px;

    .row {
      display: flex;
      gap: 20px;
      align-items: center;
      align-content: center;
      flex-direction: column;

      .first-row {
        display: flex;
        align-items: center;
        gap: 30px;

        input {
          color: black;
          padding: 10px;
          font-weight: 700;
        }
      }

      .sec-row {
        display: flex;
        align-items: center;
        gap: 30px;

        input {
          color: black;
          padding: 10px;
          font-weight: 700;
        }
      }
    }

    h4 {
      font-size: 30px;
      color: white;
      padding-right: 270px;
    }

    h3 {
      font-size: 40px;
      color: white;
      padding-right: 10px;
    }

    .buttons {
      .sign {
        color: #813a1a;
        background-color: #edc588;
        border-radius: 5px;
        padding: 7px;
        padding-left: 35px;
        padding-right: 35px;
        font-size: 20px;
        font-weight: 700;
      }

      .login {
        color: white;
        background-color: transparent;
        border-radius: 5px;
        padding: 7px;
        padding-left: 35px;
        padding-right: 35px;
        font-size: 20px;
        font-weight: 700;
        border-color: #edc588;
        border: 10%;
      }
    }
  }
}

.discoverin {
  width: 100%;
  height: 850px;
  background-color: rgb(221, 218, 218);

  .discover {
    .row {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;

      .real {
        display: flex;
        flex-direction: column;
        c p {
          position: relative;
          top: -700px;
          background-color: rgba(255, 255, 255, 0.641);
          width: 200px;
          height: 55px;
          text-align: center;
          font-size: 25px;
          font-weight: 700;
          padding-top: 10px;
          padding-bottom: 10px;
        }

        img {
          height: auto;
          width: 600px;
        }
      }

      .real2 {
        display: flex;
        flex-direction: column;
        body {
          margin: 0;
          padding: 0;
        }

        header {
          display: flex;
          padding: 0 50px;
          justify-content: space-between;
          align-items: center;

          .logo {
            display: flex;
            font-size: 25px;
            color: #813a1a;
            flex-direction: column;
            position: relative;
            align-items: center;
            font-weight: 700;

            .pic {
              display: flex;
              font-size: 25px;
              color: #813a1a;
              flex-direction: row;
              margin-bottom: -20px;

              img {
                height: 30px;
              }

              .coffee {
                margin-top: -100px;
              }
            }
          }

          nav {
            display: flex;
            justify-content: space-between;
            width: 120vh;

            a {
              display: flex;
              color: #3e2012;
              text-decoration: none;
              font-size: 20px;
              font-weight: 400;
              padding: 0 10px;
              transition: 0.8s;
              gap: 45px;
              margin-top: -40px;
              li {
                display: flex;
                color: #3e2012;
                font-size: 20px;
                text-decoration: none;
                flex-direction: row;
                align-items: center;
                justify-content: space-between;
              }
            }

            a:hover {
              color: rgb(227, 189, 142);
            }
          }

          .icons {
            color: #813a1a;
            display: flex;
            gap: 45px;
            margin-top: -40px;

            img {
              height: 28px;
            }
          }
        }

        .hero {
          display: flex;
          color: #3e2012;
          font-size: 14px;
          flex-direction: column;
          align-items: center;
          justify-content: space-around;
          gap: 20px;
          height: 150vh;
          width: 100%;

          .imgoverlay {
            position: relative;
            text-align: center;

            h1 {
              font-size: 300px;
              padding-top: 100px;
              color: #edc588;
              z-index: 1;
            }

            .overlay {
              position: absolute;
              z-index: 2;
            }

            img {
              height: 550px;
            }

            .img1 {
              top: 20px;
              left: 100px;
            }

            .img2 {
              top: 20px;
              right: 150px;
              height: 560px;
            }
          }

          .text {
            display: flex;
            right: 490px;
            position: relative;
            color: #3f2318;
            flex-direction: column;
            gap: 65px;
            top: -69px;

            .text1 {
              p {
                font-size: 29px;
                line-height: 33px;
                font-weight: 700;
              }

              button {
                background-color: #813a1a;
                color: white;
                border-radius: 5px;
                font-size: 24px;
                padding: 5px;
                padding-left: 20px;
                padding-right: 20px;
              }
            }

            .text2 {
              padding-top: 40px;
              h1 {
                font-size: 30px;
              }
              p {
                font-size: 20px;
              }

              button {
                background-color: #813a1a;
                color: white;
                border-radius: 5px;
                font-size: 24px;
                padding: 5px;
                padding-left: 20px;
                padding-right: 20px;
              }
            }
          }

          .form {
            display: flex;
            left: 360px;
            padding: 5px;
            position: relative;
            color: #3f2318;
            background-image: url(img/coffeebean.png);
            object-fit: contain;
            object-position: center;
            flex-direction: column;
            background-color: #813a1a;
            gap: 25px;
            top: -540px;
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
            height: 400px;
            width: 500px;
            align-items: center;
            font-size: 15px;
            border-radius: 7px;

            .row {
              display: flex;
              gap: 20px;
              align-items: center;
              align-content: center;
              flex-direction: column;

              .first-row {
                display: flex;
                align-items: center;
                gap: 30px;

                input {
                  color: black;
                  padding: 10px;
                  font-weight: 700;
                }
              }

              .sec-row {
                display: flex;
                align-items: center;
                gap: 30px;

                input {
                  color: black;
                  padding: 10px;
                  font-weight: 700;
                }
              }
            }

            h4 {
              font-size: 30px;
              color: white;
              padding-right: 270px;
            }

            h3 {
              font-size: 40px;
              color: white;
              padding-right: 10px;
            }

            .buttons {
              .sign {
                color: #813a1a;
                background-color: #edc588;
                border-radius: 5px;
                padding: 7px;
                padding-left: 35px;
                padding-right: 35px;
                font-size: 20px;
                font-weight: 700;
              }

              .login {
                color: white;
                background-color: transparent;
                border-radius: 5px;
                padding: 7px;
                padding-left: 35px;
                padding-right: 35px;
                font-size: 20px;
                font-weight: 700;
                border-color: #edc588;
                border: 10%;
              }
            }
          }
        }
        gap: 55px;

        .textinreal {
          gap: 40px;
          display: flex;
          flex-direction: column;

          p {
            font-size: 15px;
            font-weight: 500;
            line-height: 20px;
          }

          .button {
            .readmore {
              background-color: #a6491e;
              padding: 5px;
              padding-left: 35px;
              padding-right: 35px;
              border-radius: 3px;
              color: white;
              font-size: 20px;
              font-weight: 300;
              border: none;
            }
          }
        }

        .iconreal {
          display: flex;
          flex-direction: column;

          gap: 40px;

          h1 {
            font-size: 25px;
            color: #3d1604;
            text-align: center;
            margin-left: -160px;
          }

          h2 {
            font-size: 25px;
            color: #3d1604;
          }

          h3 {
            font-weight: 500;
            font-size: 28px;
            color: #9f6d22;
          }

          .servedicons {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 88px;
            margin-left: -40px;

            .online {
              display: flex;
              flex-direction: column;
              align-items: center;
              gap: 5px;

              .order {
                height: 60px;
                width: 50px;
              }
            }

            .events {
              display: flex;
              flex-direction: column;
              align-items: center;
              gap: 5px;
              padding-left: 90px;

              .grill {
                height: 60px;
                width: 75px;
              }
            }
          }
        }
      }
    }
  }
}

.recipesin {
  width: 100%;
  height: 300px;
  background-color: rgb(221, 218, 218);
  .recipes {
    .row {
      display: flex;
      align-items: center;
      align-content: center;
      justify-content: space-around;

      .reinner {
        display: flex;
        gap: 20px;
        flex-direction: column;
        flex-wrap: wrap;
        text-align: center;
        align-items: center;
        align-content: center;
        justify-content: space-around;

        h1 {
          font-size: 21px;
        }

        img {
          width: 90px;
          height: 60px;
        }

        p {
          line-height: 15px;
        }

        .read {
          background-color: #813a1a;
          color: white;
          padding: 5px;
          padding-left: 25px;
          padding-right: 25px;
          border-radius: 2px;
          font-weight: 300px;
          border: none;
        }
      }
    }
  }
}

.services-offered {
  height: 280px;
  width: 100%;
  .container {
    .row {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      align-content: center;
      .col-md-6 {
        flex-wrap: wrap;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        align-content: center;
        padding-top: 35px;

        gap: 15px;

        h1 {
          font-size: 20px;
          font-weight: 640;
        }

        p {
          font-size: 20px;
          color: #3f2318;
          font-weight: 700;
        }
      }
    }
  }
}

.services-list {
  background-color: lightgrey;
  width: 100%;
  height: 650px;
  .container {
    .row {
      display: flex;
      align-items: center;
      justify-content: space-around;
      margin-left: -70px;
      flex-wrap: wrap;

      .col-md-3 {
        padding-top: 45px;
        flex-wrap: wrap;
        display: flex;

        img {
          width: 400px;
        }

        h4 {
          position: relative;
          top: -60px;
          font-weight: 700;
          border-radius: 2px;
          text-align: center;
          color: #9f6d22;
          background-color: white;
          padding-left: 18px;
          padding-top: 10px;
          width: 300px;
          height: 50px;
          margin-left: 50px;
        }
      }
    }
  }
}

.team {
  height: 300px;
  width: 100%;
  .container {
    .row {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      align-content: center;
      .col {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        align-content: center;
        padding-top: 35px;

        gap: 15px;

        h1 {
          font-size: 25px;
          font-weight: 740;
        }

        p {
          font-size: 29px;
          color: #3f2318;
          font-weight: 670;
          text-align: center;
        }
      }
    }
  }
}

.the-team {
  height: 900px;
  width: 100%;
  .container {
    .team-row1 {
      .team-col1 {
        .image-box {
          display: flex;
          position: relative;
          overflow: hidden;
          .overlay-text {
            position: absolute;
            top: 400px;
            left: 150px;
            color: #a6491e;
            background-color: rgba(255, 255, 255, 0.801);
            padding-left: 98px;
            padding-right: 98px;
            padding-top: 10px;
            border-radius: 2px;
            z-index: 1;
          }
        }
      }

      .team-col2 {
        .image-box {
          display: flex;
          position: relative;
          overflow: hidden;

          img {
            width: 690vh;
            height: 36.6vh;
          }

          .overlay-text {
            position: absolute;
            top: 100px;
            left: 150px;
            color: #a6491e;
            background-color: rgba(255, 255, 255, 0.801);
            padding-left: 98px;
            padding-right: 98px;
            padding-top: 10px;
            border-radius: 2px;
            z-index: 1;

            p {
              font-size: 20px;
              color: #3f2318;
              font-weight: 600;
              text-align: center;
            }
          }
        }
      }
    }
  }
}

.partnered {
  height: 300px;
  width: 100%;
  .container {
    .row {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      align-content: center;
      .col {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        align-content: center;
        padding-top: 35px;

        gap: 15px;

        h1 {
          font-size: 25px;
          font-weight: 740;
        }

        p {
          font-size: 29px;
          color: #3f2318;
          font-weight: 670;
          text-align: center;
        }
      }
    }
  }
}

.partnered-p {
  background-color: #f4f4f4;
  height: 400px;
  width: 100%;
  .container {
    .row {
      .col-md-3 {
        .image-box {
          display: flex;
          background-color: white;
          justify-content: space-between;
          flex-direction: column;
          border-radius: 3px;

          .text {
            display: flex;
            justify-content: space-between;
            flex-direction: column;

            h4 {
              font-size: 32;
              color: #813a1a;
              font-weight: 700;
            }

            h5 {
              font-size: 30;
              color: #813a1a;
              font-weight: 400;
            }

            a {
              text-decoration: none;
              font-size: 15px;
              color: #813a1a;
              font-weight: 700;
            }
          }
        }
      }
    }
  }
}

.testimonials-text {
  height: 300px;
  width: 100%;
  .container {
    .row {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      align-content: center;
      .col {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        align-content: center;
        padding-top: 35px;

        gap: 15px;

        h1 {
          font-size: 25px;
          font-weight: 740;
          color: #3e2012;
        }

        p {
          font-size: 26px;
          color: #3e2012;
          font-weight: 600;
          text-align: center;
        }
      }
    }
  }
}

.testimonials-content {
  height: 100vh;
  width: 100%;

  .container {
    position: relative;
    background-image: url("img/coffecup.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 0px;
    position: relative;
    width: 100%;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(255, 255, 255, 0.719);
      z-index: 1;
    }
    .matt {
      position: relative;
      z-index: 2;
      .image {
      }

      .text1{
        display: flex;
        flex-direction: column;
        align-items: center;
        align-content: center;
        padding-top: 40px;

        h1 {
          font-size: 25px;
          font-weight: 600;
          color: #000000;
        }

        p {
          font-size: 15px;
        }

        gap: 30px;
        .line {
          height: 1.5px;
          width: 120px;
          background-color: rgba(0, 0, 0, 0.612);
        }

        .icons {
          display: flex;
          justify-content: space-between;
          gap: 10px;
          img {
            width: 40px;
            
          }
        }
      }
    }

    .row {
      position: relative;
      z-index: 2;

      .text {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #EDC588;
        text-align: center;
        align-content: center;
        gap: 10px;
        padding: 0px;
        min-height: 250px;

        overflow: hidden;
      

        h1 {
          font-size: 20px;
          font-weight: 600;
          color: #000000;
        }

        p {
          font-size: 15px;
        }
        .line {
          height: 1.5px;
          width: 120px;
          background-color: rgba(0, 0, 0, 0.612);
        }

        .icons {
          display: flex;
          justify-content: space-between;
          gap: 10px;
          img {
            width: 40px;
          }
        }
      }

      .bimg {
      }
    }
  }
}
